<footer >
    <div class="f-info">



        <div class="f-info-socials">
            <!-- <p> <i class="fa-solid fa-earth-americas"></i> <b>English(IN)</b></p>

            <p><i class="fa-solid fa-indian-rupee-sign"></i> <b>INR</b></p> -->
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <!-- <i class="fa-brands fa-square-x-twitter"></i> -->
            <i class="fa-brands fa-square-instagram"></i>
        </div>

        <div class="f-info-brand"> &#169 Wanderlust Private Limited,Inc.</div>
        
        <div class="f-info-links">
            <a href="/privacy">.privacy</a>
            <a href="/terms">.Terms</a>
            <a href="/sitemap">.Sitemap</a>
            <a href="/listings/companydetails">.Company Details</a>
        </div>


    </div>
</footer>