<% layout("layouts/boilerplate") -%>

    <body>
        <style>
            a{
                text-decoration: none;
            }
            a i{
                text-decoration: none;
                color: black;
                
            }
           
            .filter {
                margin-top: 2rem;
                text-align: center;
                margin-right: 3rem;
                opacity: 0.7;
            }

            #filters {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }

            .filter:hover {
                opacity: 1;
                cursor: pointer;
            }

            .filter p {
                font-size: 0.8rem;
                color: black;
            }
            .filter p a {
                text-decoration-line: none;
            }

            .tax-info {
                display: none;
            }

            .tax-toggle{
                border: 1px solid black;
                border-radius: 1rem;
                height: 3.5rem;
                padding: 1rem;
                margin-left: 2rem;
                display: flex;
                align-items: center;
            }
        </style>

        <div id="filters">
            <div class="filter">
                <div><i class="bi bi-fire"></i></div>

                <p>Trending</p>
              
            </div>

            <div class="filter">
                <div><a href="http://localhost:7000/listings/Rooms/tags"><i class="fa-solid fa-bed"></i><p>Rooms</p></a></div>

            </div>

            <div class="filter">
                <div><a href="http://localhost:7000/listings/Iconic Cites/tags"><i class="fa-solid fa-building"></i><p>Iconic Cites</p></a></div>

            </div>

            <div class="filter">
                <div><a href="http://localhost:7000/listings/Mountain/tags"><i class="fa-solid fa-mountain-sun"></i><p>Mountain</p></a></div>

            </div>

            <div class="filter">
                <div><a href="http://localhost:7000/listings/Castles/tags"><i class="fa-brands fa-fort-awesome"></i><p>Castles</p></a></div>

            </div>

            <div class="filter">
                <div><a href="http://localhost:7000/listings/Amazing Pools/tags"><i class="fa-solid fa-person-swimming"></i><p>Amazing Pools</p></a></div>

            </div>

            <div class="filter">
                <div><a href="http://localhost:7000/listings/Camping/tags"><i class="fa-solid fa-campground"></i><p>Camping</p></a></div>

            </div>

            <div class="filter">
                <div><a href="http://localhost:7000/listings/Farms/tags"><i class="fa-solid fa-cow"></i>  <p>Farms</p></a></div>
            </div>

            <div class="filter">
                <div><a href="http://localhost:7000/listings/Arctic/tags"><i class="fa-solid fa-snowflake"></i><p>Arctic</p></a></div>
            </div>

            <div class="filter">
                <div><a href="http://localhost:7000/listings/Beach/tags"><i class="fa-solid fa-umbrella-beach"></i><p>Beach</p></a></div>
            </div>
           
            <div class="tax-toggle">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Display total after Taxes</label>
                </div>
            </div>


        </div>




        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3 ">

            <% for(let list of allListing){ %>
                <a href="/listings/<%=list.id%>" class="listings-link">


                    <div class="card col listing-card">
                        <img src="<%=list.image.url%>" class="card-img-top" alt="listing image" style="height: 20rem;">
                        <div class="card-img-overlay"></div>

                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%=list.title%>
                                </b> <br>

                                &#8377; <%=list.price.toLocaleString("en-IN")%> / Night
                                    <i class="tax-info">&nbsp; &nbsp; +18%gst</i>
                            </p>

                        </div>
                    </div>
                </a>

                <% } %>

        </div>

    </body>

    <script>
        let taxSwitch = document.getElementById("flexSwitchCheckDefault");
        taxSwitch.addEventListener("click", () => {
            let taxinfo = document.getElementsByClassName("tax-info");
            for (info of taxinfo) {
                if (info.style.display != "inline") {
                    info.style.display = "inline";
                }
                else {
                    info.style.display = "none";
                }

            }
        })
   </script> 


    