<% layout("layouts/boilerplate") -%>

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
        padding: 0;
    }
    header {
        /* background-color: #007BFF; */
        color:black;
        text-align: center;
        padding: 1em;
    }
    section {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
    }
    h2 {
        color: #007BFF;
    }
    p {
        line-height: 1.6;
    }
   
</style>

<body>
<header>
    <h1>Our Visson</h1>
</header>

<section>
    <h2>About Us</h2>
    <p>Welcome to Your Wanderlust Adventure, where we transform your travel dreams into unforgettable experiences. With a passion for exploration and discovery, we curate extraordinary journeys that cater to your wanderlust.</p>

    <h2>Our Offerings</h2>
    <p>Explore a vast array of destinations and choose from our carefully selected hotels that promise comfort, style, and authenticity. We take pride in offering a diverse range of accommodations to suit every traveler's preferences.</p>

    <h2>User-Friendly Website</h2>
    <p>Our website is designed with you in mind. Enjoy a seamless and user-friendly experience as you navigate through our travel offerings, making it easy to plan and book your next adventure. Your journey begins with just a few clicks.</p>

    <h2>Privacy Matters</h2>
    <p>Your privacy is of utmost importance to us. Our stylish and interesting privacy page outlines our commitment to safeguarding your information. We adhere to the highest standards of data protection to ensure your peace of mind while exploring the world with us.</p>
</section>



</body>